@import "../bower_components/normalize.css/normalize.css";
@import "layout.css";

/*@lost flexbox flex;*/

:root { /* top level variables */
  --fontSize: 1rem; /* usage: font-size: var(--fontSize); */
}

* {
  outline: 1px dashed #ccc;
}
.wrapper {
  lost-center: 980px;
  height: 100%;
}
#head {
  clear: fix;
  width: 100%;

  nav {
    background-color: #fff;
  }
  nav li {
    font-size: responsive 12px 20px;
  }
}
