@import "../bower_components/normalize.css/normalize.css";
@import "layout.css";

/*@lost flexbox flex;*/

:root { /* top level variables */
  --fontSize: 1rem; /* usage: font-size: var(--fontSize); */
}

* {
  outline: 1px dashed #ccc;
}
body {
  background: #ccc;
}
.wrapper {
  lost-center: 980px;
  height: 100%;
}
#head {
  clear: fix;
  lost-column: 1/2;

  nav {
    background-color: #fff;
  }
  nav li {
    display: inline-block;
    font-size: responsive 16px 30px;
  }
  nav a {
    display: block;
    background: #ccc;
  }
}
