@import "../bower_components/normalize.css/normalize.css";
@import "layout.css";

/*@lost flexbox flex;*/

:root { /* top level variables */
  --fontSize: 1rem; /* usage: font-size: var(--fontSize); */
  --colorRed: #cc0000;
}

@define-placeholder colorRed {
  color: var(--colorRed);
}
@define-placeholder colorRed-hover {
  color: color(var(--colorRed) blackness(50%));
}

* {
  outline: 1px dashed #000;
}
body {
  background: #ccc;
  transition: all 500ms ease-in-out;
}
.wrapper {
  lost-center: 980px;
  height: 100%;
}
#head {
  clear: fix;
  lost-column: 1/2;
}

#head nav {
  background-color: color(#ffffff blackness(50%));
}
#head nav li {
  display: inline-block;
  font-size: responsive 16px 30px;
}
#head nav a {
  display: block;
  background: #ccc;
  transition: all 250ms ease-in-out;
  @extend colorRed;

  &:hover {
      @extend colorRed-hover;
  }
}

@media (width >= 500px) and (width <= 700px) {
  body {
    background: color(#fff);
  }
}
